body {
  width: 100%;
  margin: 0 auto;
}
.grid-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto auto auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  background-color: rgb(236, 231, 224);
  padding: 50px;
}
.grid-div-1 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-2 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-3 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-4 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-5 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}


.grid-div-1 {
  max-width: 800px;
  padding: 50px;
  background-color: rgb(188, 120, 243);
  border-radius:10px;
  box-shadow: 5px 10px 5px #fff;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.grid-div-2 {
  max-width: 300px;
  padding: 50px;
  background-color: rgb(136, 119, 143);
  border-radius: 10px;
  box-shadow: 5px 10px 5px #fff;
  grid-column: 3;
  grid-row: 1;
}

.grid-div-3 {
  max-width: 300px;
  padding: 50px;
  background-color: rgb(231, 224, 235);
  border-radius: 10px;
  box-shadow: 5px 10px 5px #fff;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 4;
}

.grid-div-4 {
  max-width: 300px;
  padding: 50px;
  background-color: rgb(231, 224, 235);
  border-radius: 10px;
  box-shadow: 5px 10px 5px #fff;
  grid-column: span 1;
  grid-row: 2;
}

.grid-div-5 {
  max-width: 800px;
  padding: 50px;
  background-color: rgb(64, 71, 82);
  border-radius: 10px;
  box-shadow: 5px 10px 5px #fff;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row:  2;

}

 h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;

}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-top: 25px;
}
.title{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.flex-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}
.title-div{
  width: 150px;

}