body {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(236, 231, 224);
}
.grid-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto auto auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  
  padding: 50px;
}
.grid-div-1 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-2 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-3 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-4 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}
.grid-div-5 img {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px dotted #fff;
}


.grid-div-1 {
  max-width: 800px;
  padding: 13px;
  background-color: hsl(263, 55%, 52%);
  border-radius:15px;
  box-shadow: 5px 10px 5px #fff;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  margin: 10px;
}

.grid-div-2 {
  max-width: 400px;
  padding: 13px;
  background-color:  hsl(217, 19%, 35%);
  border-radius: 15px;
  box-shadow: 5px 10px 5px #fff;
  grid-column: 3;
  grid-row: 1;
  margin: 10px;
}

.grid-div-3 {
  max-width: 400px;
  padding: 13px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 5px 10px 5px #fff;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 4;
  margin: 10px;
}

.grid-div-4 {
  max-width: 400px;
  padding: 13px;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 5px 10px 5px #fff;
  grid-column: span 1;
  grid-row: 2;
  margin: 10px;
}


.grid-div-5 {
  max-width: 800px;
  padding: 13px;
  background-color: hsl(219, 29%, 14%);
  border-radius: 15px;
  box-shadow: 5px 10px 5px #fff;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row:  2;
  margin: 10px;
}

 h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;

}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.title-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 30px;
  color:rgb(214, 205, 191); 
  line-height: 20px;
}
.title{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;

}
.flex-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
}
.title-div{
  width: 200px;
  padding-left: 10px;
}